[mysqld]
# Replication
server_id={{ server_id }}
log_bin={{ log_bin }}

# General log
general_log = on
general_log_file = /var/log/mysql/mysql.log

# Error log
log_error = /var/log/mysql/error.log

# Audit log
plugin-load=AUDIT=audit_log.so
audit_log_policy=ALL
audit_log_file=/var/log/mysql/audit.log
